/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #256eff;
  color: #eee;
}

a {
  text-decoration: underline;
  color: #1abc9c;
}

h1 {
  line-height: 1.3em;
  font-size: 2em;
  font-weight: bold;
  margin: auto 0;
}

h2 {
  margin-top: 25px;
  font-size: 1.5em;
  font-weight: bold;
}

.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  background: #2364aa;
}
nav {
  min-height: 140px;
  padding: 10px;
  background: #3185fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li :hover {
  cursor: pointer;
}
.info-bar {
  margin-top: 10px;
}

form {
  margin-top: 20px;
}

.tip {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  color: rgba(10, 60, 150, 0.8);
  text-shadow: 1px 4px 6px #2364aa, 0 0 0 #000, 1px 4px 6px #2364aa;
  cursor: default;
  user-select: none;
  font-size: 1em;
}

.todo-list {
  padding: 0 20px 20px;
  margin-top: 0;
}
.todo-list li {
  height: 50px;
  margin: 10px auto;
  background: #3185fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.todo__checkbox {
  height: 40px;
  width: 40px;
  background: #eee;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__content {
  width: 270px;
  height: 100%;
  padding: 5px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__content-completed {
  text-decoration: line-through;
  opacity: 0.7;
  width: 270px;
  height: 100%;
  padding: 5px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__deletebox {
  height: 40px;
  width: 40px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__edit-form {
  margin-top: 0;
  width: 270px;
}

.notification-bar {
  padding: 5px;
}

.input {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  background: #173753;
  color: #fff;
  font-size: 1em;
  outline: none;
  border: 1px transparent;
}

.input__container {
  margin-bottom: 10px;
}

.input__error {
  width: 90%;
  color: red;
  font-size: 0.7em;
  bottom: -25px;
  left: 0px;
  font-weight: bold;
  padding: 5px 1px;
  margin: 0 auto;
  text-align: left;
}

.icon {
  font-size: 1.5em;
  color: #000;
  cursor: pointer;
}

.log-out {
  margin: 10px 0;
  font-size: 1.5em;
  color: #000;
  cursor: pointer;
}

input[type="submit"] {
  padding: 13px 20px;
  background-color: #1abc9c;
  border-radius: 3px;
  box-shadow: 0px 3px 0px 0px #029e81;
  line-height: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 29px;
}

input[type="submit"]:hover {
  background-color: #81dac9;
  border-radius: 3px;
  box-shadow: 0px 3px 0px 0px #78cfbf;
  color: #ffffff;
  transition: 0.5s;
}

input[type="submit"]:active {
  background-color: #17a98c;
  border-radius: 3px;
  box-shadow: 0px 3px 0px 0px #09977c;
}
